.header {
  width: 100%;
  padding: 16px 40px;
  border: 1px solid black;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 8em !important;
}

/* This pushes nav to the center */
.nav-items {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-items li {
  cursor: pointer;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}